@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PP Neue Montreal", sans-serif;
}

/* SplitText animation helpers - These are manipulated by GSAP */
.header-1 h1 .char,
.tooltip .title .line,
.tooltip .description .line {
  display: inline-block;
  overflow: hidden;
}

.header-1 h1 .char > span,
.tooltip .icon svg,
.tooltip .title .line > span,
.tooltip .description .line > span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
}
